:root {
  --red: red;
  --red-bright: #ff6d67;
  --yellow: #c7c400;
  --yellow-bright: #fefb67;
  --green: #00c200;
  --green-bright: #5ff967;
  --blue: #0225c7;
  --blue-bright: #6871ff;
  --magenta: #c930c7;
  --magenta-bright: #ff76ff;
  --cyan: #00c5c7;
  --cyan-bright: #5ffdff;
  --white: #c7c7c7;
  --white-bright: #fffefe;
  // --black: black;
  --black: #676767;
  --black-bright: #676767;
}
